// #bfc66c
// rgb(201,226,30)
 // #c2d22e
// c3d600

$body_color: #dadad2;

$color1: #c1ca5b !default;
$color2: #7a6f5b !default;
$color3: #e7e8e9 !default;
$color4: #78cdc8 !default;
$color5: #fff !default;

$link-color: #f27a45 !default;

$fill1: #c1ca5b !default;
$fill2: #7a6f5b !default;
$fill3: #c2d22e !default;
$fill4: #f5f5f5 !default;
$fill-accent: #f9d8c2 !default;

$font: 			'crimson_roman', 'Times New Roman', Times, serif;
$font-i: 		'crimson_roman', serif;
$font-semi: 	'crimson_semibold', serif;
$font-semi-i: 	'crimson_roman', serif;
$font-bold: 	'crimson_roman', serif;
$font-bold-i: 	'crimson_roman', serif;

//-------------------------------------------------------------------------

// $font2:			'panefresco_250',Arial,Verdana,sans-serif;
// $font2-i:		'panefresco_250', arial, sans-serif;
// $font2-semi:	'panefresco_250', arial, sans-serif;
// $font2-semi-i:	'panefresco_250', arial, sans-serif;
// $font2-bold:	'panefresco_250', arial, sans-serif;
// $font2-bold-i:	'panefresco_250', arial, sans-serif;

$font2:		'panefresco_250',Arial,Verdana,sans-serif;
$font2-1:	'panefresco_1', arial, sans-serif;
$font2-250:	'panefresco_250', arial, sans-serif;
$font2-400:	'panefresco_400', arial, sans-serif;
$font2-500:	'panefresco_500', arial, sans-serif;
$font2-600:	'panefresco_600', arial, sans-serif;
$font2-750:	'panefresco_750', arial, sans-serif;
$font2-800:	'panefresco_800', arial, sans-serif;
$font2-999:	'panefresco_999', arial, sans-serif;


